$prefix: bs-;

// Cold colors
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm colors
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Grayscale
$white: #ffffff;
$black: #111111;

$gray-5: #fafafa;
$gray-10: #f0f0f0;
$gray-25: #e6e8e9;
$gray-50: #dadada;
$gray-100: #bebfc1;
$gray-200: #a3a5a8;
$gray-300: #808285;
$gray-400: #646469;
$gray-500: #47474d;
$gray-700: #2c2b2e;
$gray-900: #1d1c24;

$main-background-color: $white;
$main-text-color: $black;
$divider-color: rgba($black, .14);

$main-text-size: 14px;
$main-border-radius: 6px;

$small-space: 16px;
$medium-space: 32px;
$large-space: 64px;

$phone-size: 600px;
$tablet-size: 992px;
$desktop-size: 1200px;
